{
 "workspace": "{{workspace_dir}}",
 "awsProfile":"{{awsProfile}}",
 "s3Bucket":"{{s3Bucket}}",
 "checkUpgrade":{{checkUpgrade}},
 "metricsReportPermission":{{metricsReportPermission}},
 "enableExperimental":{{enableExperimental}},
 "dockerContentTrust":{{dockerContentTrust}}
}
