import json
import sys

if(len(sys.argv) < 5):
    print("usage: editPipeline.py target env clusterName serviceName")

target      = sys.argv[1]
env         = sys.argv[2]
clusterName = sys.argv[3]
serviceName = sys.argv[4]

try:
  with open('pipeline1.json') as f:
    data = json.load(f)
  f.close()
except:
  sys.exit(1)

data['releaseInfo'][target][env]['enabled'] = True
data['releaseInfo'][target][env]['clusterName'] = cluster
data['releaseInfo'][target][env]['serviceName'] = service

with open('pipeline.json', 'w') as json_file:
  json.dump(data,json_file,ensure_ascii=True, indent=4,sort_keys=True)

json_file.close()
